@import 'basic.scss';

.articles {
    .post {
        margin: 30px 0 10px 0;

        .title {
            text-decoration: none;
            font-size: $h2-font-size;
            font-weight: bold;
            font-family: $header-font-family;
            color: $text-color;

            &:hover {
                color: $hover-color;
            }

            &:active {
                color: $active-color
            }
        }

        .post-date {
            font-size: 0.8em;
            color: $text-light-color;
            margin-bottom: 10px;
        }
    }

    @media only screen and (max-width: $breakpoint-small) {
        margin: 30px 0 40px 0;
    }
}