@import 'simple-grid';

$content-width: 750px;
$footer-height: 50px;

$header-font-family: "Helvetica", sans-serif;
$content-font-family: "Helvetica", sans-serif;

$bg-color: rgb(255, 255, 255);
$bg-medium-color: rgba(226, 226, 226, 0.5);
$bg-light-color: rgba(226, 226, 226, 0.3);

$action-color: rgb(196, 81, 83);
$hover-color: rgb(221, 105, 107);
$active-color: $hover-color;
$active-border-color: $hover-color;

// Typography

$text-color: rgb(27, 27, 27);
$text-light-color: rgb(167, 167, 167);

%common-text-styling {
    color: $text-color;
    text-rendering: optimizeLegibility;
}

%content-text-styling {
    @extend %common-text-styling;

    font-family: $content-font-family;

    letter-spacing: 0.1px;
    line-height: 1.5;
    font-size: 1em;
    word-spacing: 1px;
}

$h1-font-size: 2em;

h1 {
    font-size: $h1-font-size;
}

$h2-font-size: 1.5em;

h2 {
    font-size: $h2-font-size;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
a,
blockquote {
    @extend %common-text-styling;

    font-family: $header-font-family;
}

p,
a,
ul,
ol,
blockquote {
    @extend %content-text-styling;
}

ol,
ul {
    margin-left: 10px;
}

ul {
    list-style-type: disc;
}

a {
    color: $action-color;
}

a {
    &:hover {
        color: $hover-color;
    }

    &:active {
        color: $active-color;
    }
}

blockquote {
    border-left: 2px solid $action-color;
    padding-left: 10px;
}

footer {
    font-size: 0.8em;
    color: $text-light-color;
    text-align: center;

    a {
        color: $text-light-color;
    }
}

@media only screen and (max-width: $breakpoint-med) {
    p,
    li,
    blockquote,
    a {
        font-size: 1em;
    }
}

//  Layout

* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    min-height: 100vh;
}

header {
    width: 100%;
    height: 40px;
    box-shadow: 0 0 5px $text-light-color;

    .navigation {
        width: $content-width;
        margin: auto;

        a {
            line-height: 40px;
            margin-right: 2%;
        }
    }
}

.content {
    width: $content-width;
    margin: auto;
    padding-bottom: $footer-height * 2;
}

@media only screen and (max-width: $breakpoint-large) {
    header {
        .navigation {
            width: 90%;
        }
    }

    .content {
        width: 90%;
    }
}

h1 {
    margin-bottom: 30px;
}

h2,
h3 {
    margin: 40px 0 20px 0;
}

@media only screen and (max-width: $breakpoint-small) {
    h1 {
        margin-bottom: 30px;
    }

    h2,
    h3 {
        margin: 30px 0 20px 0;
    }
}

p, blockquote {
    margin: 10px 0 30px 0;
}

code,
pre {
    background: #f5f7f9;
}

code {
    padding: 2px 4px;
    vertical-align: text-bottom;
}

pre {
    padding: 1em;
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
}

footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:$footer-height;
    line-height: $footer-height;
}

.highlight {
    margin: 20px 0 20px 0;
}

@media only screen and (max-width: $breakpoint-small) {
    .highlight {
        margin: 40px 0 40px 0;
    }
}

img {
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
}
