@import 'basic';

.home {
    margin: 50px auto 50px auto;

    .contact-options {
        margin: 40px auto 40px auto;
        width: 180px;

        ul {
            list-style: none;
            float: left;

            li {
                display: inline-block;
                margin: 0 20px 0 0;
                font-size: 1.5em;
            }
        }
    }
}