
$text-color: #4b4b4b;
$text-light-color: #999;
$header-color: #333;

body {    
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    color: $text-color;
}

footer {
    font-size: 0.8em;
    color: $text-light-color;
    text-align: center;

    a {
        color: $text-light-color;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    color: $header-color;
}

a {
    color: $header-color;
}