@import 'simple-grid';

$header-font-family: "Helvetica", sans-serif;
$content-font-family: "Helvetica", sans-serif;

$bg-color: rgb(255, 255, 255);
$bg-medium-color: rgba(226, 226, 226, 0.5);
$bg-light-color: rgba(226, 226, 226, 0.3);

$action-color: rgb(196, 81, 83);
$hover-color: rgb(221, 105, 107);
$active-color: $hover-color;
$active-border-color: $hover-color;

$text-color: rgb(27, 27, 27);
$text-light-color: rgb(167, 167, 167);

%common-text-styling {
    color: $text-color;
    text-rendering: optimizeLegibility;
}

%content-text-styling {
    @extend %common-text-styling;

    font-family: $content-font-family;

    letter-spacing: 0.1px;
    line-height: 1.5;
    font-size: 1em;
    word-spacing: 1px;
}

footer {
    font-size: 0.8em;
    color: $text-light-color;
    text-align: center;

    a {
        color: $text-light-color;
    }
}

$h1-font-size: 2em;

h1 {
    font-size: $h1-font-size;
}

$h2-font-size: 1.5em;

h2 {
    font-size: $h2-font-size;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
a,
blockquote {
    @extend %common-text-styling;

    font-family: $header-font-family;
}

p,
a,
ul {
    @extend %content-text-styling;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

a {
    color: $action-color;
}

a {
    &:hover {
        color: $hover-color;
    }

    &:active {
        color: $active-color;
    }
}

blockquote {
    border-left: 2px solid $action-color;
    padding-left: 10px;
}

@media only screen and (max-width: $breakpoint-med) {
    p,
    li,
    a {
        font-size: 1em;
    }
}