
$header-font-family: "Helvetica", sans-serif;
$content-font-family: "Helvetica", sans-serif;

$bg-color: rgb(255, 255, 255);
$bg-medium-color: rgba(226, 226, 226, 0.5);
$bg-light-color: rgba(226, 226, 226, 0.3);

$text-color: rgba(0, 0, 0, 0.84);
$text-light-color: rgb(167, 167, 167);

%common-text-styling {
    color: $text-color;
    text-rendering: optimizeLegibility;
}

%content-text-styling {
    @extend %common-text-styling;

    font-family: $content-font-family;

    letter-spacing: 0.1px;
    line-height: 1.5;
    font-size: 1.2em;
    word-spacing: 1px;
}

footer {
    font-size: 0.8em;
    color: $text-light-color;
    text-align: center;

    a {
        color: $text-light-color;
    }
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @extend %common-text-styling;

    font-family: $header-font-family;
}

p,
li {
    @extend %content-text-styling;
}

a {
    @extend %content-text-styling;

    font-size: 1em;
}