---
layout: "basic"
---

<div class="articles">
  <p>
    {{ page.intro }} All post are shared under Create Commons licence <a href="https://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC</a>.
  </p>

  {%- for post in site.posts -%}
    {% if post.categories contains page.primary_category %}
      <div class="row">
        <div class="col-12 post">
          <a class="title" href="{{ post.url | relative_url }}">
            {{ post.title }}
          </a>

          <div class="post-date">
            {%- assign post_date = "%b %-d, %Y" -%}
            <span>{{ post.date | date: post_date }}</span>
          </div>

          <div>
            {{ post.excerpt }}
          </div>
        </div>
      </div>
    {%- endif -%}
  {%- endfor -%}
</div>