<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/index.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">

    {%- if page.head_title -%}
      <title>{{ page.head_title }}</title>
    {%- else -%}
      <title>Paul Digital Island</title>
    {%- endif -%}

    {%- if page.meta_description -%}
      <meta name="description" content="{{ page.meta_description }}"/>
    {%- endif -%}
    {%- if page.meta_keywords -%}
      <meta name="keywords" content="{{ page.meta_keywords }}"/>
    {%- endif -%}
  </head>
  <body>
    <header>
      <div class="navigation-container">
        <div class="navigation-profile">
          <a href="{{ site.baseurl }}/">
            <img src="{{ site.baseurl }}/assets/img/profile.jpg" alt="profile picture">
          </a>
        </div>
        
        <div class="navigation-element">
          <a href="{{ site.baseurl }}/cv.pdf">Vitae</a>
        </div>
        <div class="navigation-element">
          <a href="{{ site.baseurl }}/articles">Articles</a>
        </div>

        <div class="clearfix"></div>
      </div>
    </header>

    <div class="content">
      {{ content }}
    </div>

    <footer>
      You can find the code for this website on <a href="https://github.com/pheymann/paulheymann-website"><i class="fab fa-github"></i></a>
    </footer>
  </body>
</html>
