<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">

    {%- if page.head_title -%}
      <title>{{ page.head_title }}</title>
    {%- else -%}
      <title>Paul Heymann</title>
    {%- endif -%}

    {%- if page.meta_description -%}
      <meta name="description" content="{{ page.meta_description }}"/>
    {%- endif -%}
    {%- if page.meta_keywords -%}
      <meta name="keywords" content="{{ page.meta_keywords }}"/>
    {%- endif -%}
  </head>
  <body>
    <header>
      <div class="navigation">
        <a href="/">Home</a>
        <a href="/articles">Articles</a>
      </div>
    </header>

    <div class="content">
      {{ content }}
    </div>

    <footer>
      You can find the code for this website on <a href="https://github.com/pheymann/paulheymann-website">Github</a>
    </footer>

    <script>
      (function() {
        window.counter = 'https://paulheymann.goatcounter.com/count'
    
        var script = document.createElement('script');
        script.async = 1;
        script.src = '//gc.zgo.at/count.js';
        var ins = document.getElementsByTagName('script')[0];
        ins.parentNode.insertBefore(script, ins)
      })();
    </script>
  </body>
</html>
