<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/index.css">

    {%- if page.head_title -%}
      <title>{{ page.head_title }}</title>
    {%- else -%}
      <title>Paul Heymann</title>
    {%- endif -%}

    {%- if page.meta_description -%}
      <meta name="description" content="{{ page.meta_description }}"/>
    {%- endif -%}
    {%- if page.meta_keywords -%}
      <meta name="keywords" content="{{ page.meta_keywords }}"/>
    {%- endif -%}
  </head>
  <body>
    <header>
      <div class="navigation">
        <a href="/">Home</a>
        <a href="/articles">Articles</a>
        <a href="{{ site.baseurl }}/feed.xml">RSS</a>
        <a href="/imprint">Imprint</a>
      </div>
    </header>

    <div class="content">
      {{ content }}
    </div>

    <footer>
      You can find the code for this website on <a href="https://github.com/pheymann/paulheymann-website">Github</a>
    </footer>

    <script defer data-domain="paulheymann.de" src="https://plausible.io/js/script.js"></script>
  </body>
</html>
